
/*-- FONTS --*/
.questionpack-specific-title {
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.questionpack-specific-description {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}




.store-redirect-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding-bottom: 20px;
}

.store-redirect-subtext {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 100px;
}

.store-redirect-rating-text {
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}





/*-- SECTION - DESCRIPTION  --*/
.section-description {
	background-color: #fffef3;
}


.section-description-sizer {
	max-width: 1200px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*-- SECTION - STORE REDIRECT  --*/
.section-store-redirect {
	background-color: #e2f2ff;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-store-redirect-inner {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1.75fr 1fr;
	padding: 25px;

}


.section-store-redirect-left {

}

.section-store-redirect-right {
	margin: auto;
	align-self: center;
	justify-self: center;
}

.store-redirect-rating {
    display: flex;
    align-items: center;
	padding-bottom: 20px;
}








/*-- IMAGE QUESTION PACK  --*/
.image-questionpack{
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/*-- LIST  --*/
.list-number {
	list-style-type: decimal;
}


/*-- IMAGE RATING  --*/
.image-rating{
	margin: 0px;
	padding: 2px;
}




/*-- IMAGE SCREENSHOT  --*/
.image-screenshot{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
    height: auto;
	width: 40%;
	min-width: 75px;
}





