
/*-- FONTS --*/
.questionpack-specific-title {
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
	padding-top: 20px;
	margin-bottom: 20px;
}

.questionpack-specific-description {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}




.store-redirect-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	padding-bottom: 20px;
}

.store-redirect-subtext {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 100px;
}

@media (max-width: 970px)
{
	.store-redirect-subtext {
	padding-bottom: 50px;
	}
}

@media (max-width: 800px) 
{
	.store-redirect-subtext {
	padding-bottom: 10px;
	}
}


.store-redirect-rating-text {
	font-weight: 400;
	font-size: 14px;
	display: inline-block;
	margin-right: 10px;
}





/*-- SECTION - DESCRIPTION  --*/
.section-description {
	background-color: #fffef3;
}


.section-description-sizer {
	max-width: 1200px;
	margin-top: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-description-holder {
	padding-right: 20px;
	padding-left: 20px;
}





/*-- SECTION - STORE REDIRECT  --*/
.section-store-redirect {
	background-color: #e2f2ff;
	margin-top: 20px;
	margin-bottom: 40px;
	max-width: 1200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-store-redirect-inner {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1.75fr 1fr;
	padding: 25px;

}

@media (max-width: 800px) 
{
	.section-store-redirect-inner {
	grid-template-columns: auto;
	}
}



.section-store-redirect-left {

}



.section-store-redirect-right {
	margin: auto;
	align-self: center;
	justify-self: center;
}

@media (max-width: 800px) 
{
	.section-store-redirect-right {
	display: none;
	}
}




.store-redirect-rating {
    display: flex;
    align-items: center;
	padding-bottom: 20px;
}



.section-store-redirect-container {
	position: relative;
	text-align: center;
	overflow: hidden;
}

.section-store-redirect-overlay-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 10px;
	box-sizing: border-box;
	border: solid #5B6DCD 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
}

@media (max-width: 970px) 
{
	.section-store-redirect-overlay-center {
	font-size: 5px;
	}
}




/*-- IMAGE QUESTION PACK  --*/
.image-questionpack{
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/*-- LIST  --*/
.list-number {
	list-style-type: decimal;
}


/*-- IMAGE RATING  --*/
.image-rating{
	margin: 0px;
	padding: 2px;
}




/*-- IMAGE SCREENSHOT  --*/
.image-screenshot{
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
    height: auto;
	min-width: 75px;
	display: block;
}




